{% extends "_base.html" %}

{% block content %}

<!-- Page Header -->
<header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Oops</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>404 Page not found.</p>
        </div>
    </div>
</div>

{% endblock %}